.faqs
  .line-2.line
    span
    span
  .line-3.line.js-line-faqs
    span
    span
  .container
    .faqs__wrapper
      h1.title
        | Вопрос-ответ
      .faqs__content
        .faqs__title
          | Поис вопроса
        form(action="/").faqs__form
          .form-group
            input(type="text" name="search" placeholder="Как вопрос найти?")
          button(type="submit").button.button-primary.faqs__button
            +svg('search').faqs__icon
            | Найти
        .faqs__total(style="display: none;")
          | По вашему запросу “мобильный телефон” найден 1 вопрос
        .faqs__items
          - for(var i = 0; i < 2; i++) {
            each faq in data.faqs
              .faqs__item
                .faqs__header
                  .faqs__name!=faq.name
                  .faqs__dateTime
                    span.faqs__date!=faq.date
                    span.faqs__location!=faq.location
                .faqs__body
                  .faqs__question
                    span.faqs__desc Вопрос
                    .faqs__text
                      p!=faq.question
                  .faqs__answer
                    span.faqs__desc ответ
                    .faqs__text
                      p!=faq.answer
          - }
      include ../components/pagination
      .gray-block
        .line
          span
          span
          span
        strong Не нашли вопроса на интересующую вас тему? 
        strong Напишите нам и мы обязательно на него ответим!
        form.gray-block__form
          .modal__form-top
            .form-group
              input(type="text" name="name" placeholder="Ваше имя*" required)
            .form-group
              input(type="email" name="email" placeholder="Email*" required)
            .form-group
              input(type="text" name="city" placeholder="Ваш город")
          .modal__form-bottom
            .form-group
              textarea(name="message" placeholder="Ваш вопрос")
          .modal__form-button
            button(type="submit").button.button-secondary
              | Задать вопрос